.product__carousel--image {
    max-width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display: none !important;
}

.product-cart-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-cart-page div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}