.signupimg{
    background-image: url("https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-2foodgroups_vegetables_detailfeature.jpg?sfvrsn=226f1bc7_6");
    background-size: cover;
    width: 40vw;
    height: 80vh;
    margin-top: 25px;
  }
  
  .signup{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .signup > form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
  }
  
  