.product-preview{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    background-color: #f7f8f8;
}

.product-preview h6{
    width: 247px;
    text-align: left;
    margin-left: 10px;
}