form{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.recommended{
    width: 500px;
    margin-left: 375px;
}

.fertilizer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
